#include "%{nameH}"
%{nameSpaceList} @if %{baseClassFlag}
%{nameClass}::%{nameClass}(%{baseClass} *parent) : %{baseClass}
(parent)
{

}
@else
%{nameClass}::%{nameClass}()
{

}
@endif
%{nameSpaceClose}
