[Desktop Entry]
Type=Application
Name=%ProjectName%
Icon=icon-launcher-gallery
Exec=invoker --type=j -s /opt/sdk/bin/%ProjectName%
Comment=Sailfish UI application

