[Desktop Entry]
Type=Application
Name=%ProjectName%
Icon=icon-launcher-gallery
Exec=invoker --type=silica-qt5 -s /usr/bin/%ProjectName%
Comment=Sailfish UI application

