[Desktop Entry]
Type=Application
Name=template
Icon=icon-launcher-gallery
Exec=invoker --type=silica-qt5 -s /usr/bin/template
Comment=Sailfish UI application

