[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=%ProjectName%
Icon=/usr/share/icons/hicolor/90x90/apps/%ProjectName%.png
Exec=%ProjectName%
